.navbar {
  display: none;
}

.nav-btn {
  display: none;
}

main {
  flex: 1;
  overflow-y: auto;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}
